<Configuration >
<Appenders>
    <Console name="myConsole" target="SYSTEM_OUT">
    <PatternLayout pattern= "%d  - %p  - %c  - %m  - %n ">
     </PatternLayout>
    
    </Console>
    <File name="myFile" filename="logs/qt.log">
    <PatternLayout pattern= "%d  - %p  - %c  - %m  - %n "></PatternLayout>
    </File>
    
</Appenders>
<Loggers>
    <root level="warn">
        <AppenderRef ref="myConsole" />
        <AppenderRef ref="myFile" />
    </root>>
</Loggers>

</Configuration>